:root {
    /* Palette de couleur */
    --brand-orange: #FF8C00;
    --brand-dark: #333333;

    /* Role */
    --primary: var(--brand-orange);
    --secondary: #d37400; /* primary hover */
    --background: #F2F2F2;

    /* Text  Color*/
    --text-primary: var(--brand-dark);
    --text-secondary: #636363;

    /* Font families */
    --font-main: 'Inter', sans-serif;
    --font-mono: 'JetBrains Mono', monospace; /* Pour le jeu */

    /* Font bold */
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 800;

    /* Hover color */
    --text-hover: #000000;
    --bg-hover-active: #e5e7eb;

}

body {
    background-color: var(--background);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: 2px solid red;*/
}

span {
    font-size: 4rem;
    font-weight: var(--fw-semibold);
    font-family: var(--font-mono);
    color: rgb(127, 127, 127);
    
}

.jeu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.actif {
    border-left: 10px solid black;
}

.incorrect {
    color: red;
}

.correct {
    color: black;
}